body {
    background-image: url('./marble.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    flex: 1 0 auto;
}
h1 {
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.card-deck{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    font-family: 'Manrope', sans-serif;
    

}
.card {
    flex: 1 0 auto;  /* This allows the card to shrink if needed but not grow. */
    margin: 1rem;  /* This sets the margin around the cards. */
    min-width: 200px;  /* This sets the minimum width of the cards. */
    /* Add your specific card styles here. */
    background-color: whitesmoke;
    color: black;
    border: 0rem;  
    box-shadow: 0px 15px 27px -7px rgba(0, 0, 0, 0.75);
    font-family: 'Manrope', sans-serif;
    
} .card-title {
    font-weight: bolder;
}

.mission {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    margin: 4rem;
    font-weight:600;
}
.go-to-recipe {
    color: black;
    font-weight: 700;
}
.recipe-details {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin:3rem;
    font-family: 'Manrope', sans-serif;

}
.title-recipe {
    position: absolute;
    left: 40rem;
    top: 9rem;
}
.recipe-details > img {
    margin-top: 5rem;
    max-width: 35rem;   
    margin-left: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 15px 27px -7px rgba(0, 0, 0, 0.75);
}
 .description {
    margin-top: 2rem;
    position: absolute;
    left: 34rem;
    text-align: center;


 }
 .ingredients {
    position: absolute;
    top: 42rem;
    left: 10rem;
    margin-top: 2rem;
    
 } 
 ul {
    position:absolute;
    top: 47rem;
    left: 10rem;
    margin-left: 1rem;
    margin-top: 2rem;
    font-weight: 900;
    
 }
 ol {
    position: absolute;
    left: 40rem;
    top: 47rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-top: 2rem;
  
 }
 .steps {
    position: absolute;
    top: 42rem;
    left: 40rem;
    margin-top: 2rem;
 }
 .recipe-picture {
    display: block;
    margin: 0 auto;
 }
 .back-to-recipes {
    color:black;
    position: absolute;
    left: 40rem;
    top: 42rem;
    font-weight: bolder;
    padding: 0.5rem;
 }
 hr {
    max-width: 10%;
    display: block;
    margin: 0 auto;
 }