body {
    background-image: url('./marble.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    flex: 1 0 auto;
}
h1 {
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    color: black;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.card-deck{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-left: 6.7rem;
    margin-right: 6.7rem;
    font-family: 'Manrope', sans-serif;


}
.card {
    flex: 1 0 auto;
    margin: 1rem;
    min-width: 200px;
    background-color: #a3b18a;
    color: black;
    border: 0rem;
    box-shadow: 0px 15px 27px -7px rgba(0, 0, 0, 0.75);
    padding: 50px;
    font-family: 'Manrope', sans-serif;
    position: relative; /* Add this to make the card a positioning context for the button */
    margin-bottom: 1rem;
}

.card-title {
    font-weight: bolder;
}

.mission {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    margin: 4rem;
    font-weight:600;
}
.go-to-recipe {
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 20px 15px 15px 10px;
    background-color: #3a5a40;
    text-decoration: none;
    padding: 8px;
    padding-left: 40px;
    padding-right: 30px;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    left: 50%; /* Add this to center the button horizontally */
    transform: translateX(-50%); /* Add this to center the button horizontally */
    
}
.go-to-recipe:hover{
   background-color:#588157;
}
.recipe-details {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin:3rem;
    font-family: 'Manrope', sans-serif;

}
.title-recipe {
    position: absolute;
    left: 40rem;
    top: 9rem;
}
.recipe-details > img {
    margin-top: 5rem;
    max-width: 35rem;
    margin-left: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 15px 27px -7px rgba(0, 0, 0, 0.75);
}
 .description {
    margin-top: 2rem;
    position: absolute;
    left: 34rem;
    text-align: center;


 }
 .ingredients {
    position: absolute;
    top: 42rem;
    left: 10rem;
    margin-top: 2rem;

 }
 ul {
    position:absolute;
    top: 47rem;
    left: 10rem;
    margin-left: 1rem;
    margin-top: 2rem;
    font-weight: 900;

 }
 ol {
    position: absolute;
    left: 40rem;
    top: 47rem;
    margin-bottom: 1rem;
    margin-right: 5rem;
    margin-top: 2rem;

 }
 .steps {
    position: absolute;
    top: 42rem;
    left: 40rem;
    margin-top: 2rem;
 }
 .recipe-picture {
    display: block;
    margin: 0 auto;
 }
 .back-to-recipes {
    text-decoration: none;
    background-color: #3a5a40;
    color: whitesmoke;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 20px 10px 20px 10px;
    left: 2%; /* 2% from the left edge of the parent element */
    top: 2%; /* 2% from the top edge of the parent element */
}

 .back-to-recipes:hover{
    background-color: #588157;
 }
 .whatsapp-btn{
    position: absolute;
    left: 0;
    top: 0;
    left: 9%; /* 2% from the left edge of the parent element */
    top: 3%; /* 2% from the top edge of the parent element */
    
}
 hr {
    max-width: 10%;
    display: block;
    margin: 0 auto;
 }

 .time-rating {
  display: flex;
  justify-content: space-between;
 }
